header{
    position: sticky;
    top: 0; 
    width: 100%;
    z-index: 1;
    background-color: $bg-transparent-light-1;
    box-shadow: 0 0 2px 1px $color-shadow-1;
   
    .container {
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "logotype toggleicon"
                             "menu menu";
        
        @include lg { //istället för @media
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: "logotype menu menu";
        }

        .links {
            border: 1px solid pink;
            .link {
                color: $color-dark-2;
                font-weight: $font-weight-medium;
                text-decoration: none;
                margin: 10px 12px;
                display: block;
                transition: color 0.1s;
                &:hover,
                &.active {
                    color: $color-theme;
                    text-decoration: none;
                }
            }
            @include lg {
                display: flex !important;
                justify-content: center;
                align-items: center;
            }
        }
        .icons {
            @include content-center;

            @include lg {
                justify-content: flex-end;
            }

            // nav {
            //     display: none;

            //     @include lg {
            //         display: flex;
            //     }
            // }

            .link {
                position: relative;
                height: 36px;
                width: 36px;
                @include content-center;
                @include default-colors;
                border-radius: 50%;
                border: none;
                text-decoration: none;
                box-shadow: 0 0 5px 2px $color-shadow-1;
                margin-left: 1rem;
                transition: background-color 0.25s, color 0.25s;
                
                &:hover,
                &.active {
                    @include dark-colors;
                    text-decoration: none;
                }
            }
        }
    }
}


#menu {
    grid-area: menu;
    grid-template-areas: "menulinks"
                         "menuicons";
    @include lg {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "menulinks menuicons";
    }
}
#logotype {
    grid-area: logotype;
    font-size: 35px;
    font-weight: 700;
    text-decoration: none;
    color: $color-dark-2;
}
#menu-links {
    grid-area: logotype;
}

#menu-icons {
    grid-area: menuicons;
    margin-top: 40px;
    
    border: 1px solid brown;
    @include lg {
        margin-top: 0;
    }
}

#toggle-icon {
    grid-area: toggleicon;
    justify-content: flex-end;

    @include lg {
        display: none;
    }
}


