
.title-popular {
    margin-top: 40px;
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    display: flex;
    justify-content:center;
    @include md {
        margin-top: 60px;
        margin-bottom: 40px;
    }
    @include lg {
        margin-top: 60px;
        margin-bottom: 80px;
    }
}

.product-collection-popular {
    
    display: flex;
    justify-content: center;
    .popular-products {
        margin: 20px 10px;
        width: 100%;
        max-width: 1400px;
        @include lg {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .right-column {
            background-color: $color-light-4;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding: 3.5em 0em;
            @include md {
                padding: 6em 0em;
            }
            .text {
                color: $color-light-1;
                font-weight: $font-weight-bold;
                font-size: $font-size-semi-large;
                padding-bottom: 0.75em;
                @include md{
                    font-size: $font-size-semi-xl;
                }
            }
            .button-box {
                .button-new{
                    padding: 0.7em 1.75em;
                    &::before{
                        content: "";
                        height: 1em;
                        width: 1em;
                    }
                    &::after{
                        content: "";
                        height: 1em;
                        width: 1em;
                    }
                    @include md {
                        padding: 1em 4em;
                        &::before{
                            content: "";
                            height: 25px;
                            width: 25px;
                        }
                        &::after{
                            content: "";
                            height: 25px;
                            width: 25px;
                        }
                    }
                }
            }
        }
        .left-column {
            padding: 2em 0em;
            text-align: center;
            @include lg {
                padding: 0em 2em; 
            }
            .collection-grid {
                display: grid;
                grid-template-columns: 1fr;
                gap: 30px;
                @include md {
                    grid-template-columns: 1fr 1fr;
                }
                .collection-card {
                    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
                    margin: 0;
                    p {
                        margin: 0px;
                    }
                    .card-content {
                        position: relative;
                        img{
                            width: 100%;
                            object-fit: cover;
                            &:hover  {
                                display: flex;
                                .card-img {
                                    .product-menu{
                                        display: none;
                                    }
                                }
                            }
                        }
                        .card-menu {
                            .icons {
                                position: absolute;
                                top: 15px;
                                right: 15px;
                                @include md {
                                    top: 10px;
                                    right: 10px;
                                    opacity: 0%;
                                    transition: all 0.25s;
                                    &:hover {
                                        opacity: 100%;
                                    }
                                }
                                .link {
                                    height: 50px;
                                    width: 50px;
                                    font-size: 22px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background-color: #ffffff;
                                    color:#222529;
                                    border-radius: 50%;
                                    text-decoration: none;
                                    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
                                    margin-left: 1rem;
                                    transition: background-color 0.25s, color 0.25s;
                                    margin-bottom: 16px;
                                    @include md {
                                        font-size: 16px;
                                        height: 36px;
                                        width: 36px;
                                        margin-bottom: 8px;
                                    }
                                    &:hover,
                                    .active {
                                        background-color: #222529;
                                        color: #ffffff;
                                        text-decoration: none;
                                    }
                                }
                            }
                            .btn-theme {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                text-align: center;
                                @include md {
                                    padding: 13px 50px;
                                    font-size: 16px;
                                }
                                @include lg {
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    text-align: center;
                                }
                            }
                        }
                    }
                    .card-body{
                        text-align: center;
                        .cathegory{
                            font-size: 16px;
                            font-weight: 500;
                            color: #616365;
                            margin-top: 15px;
                            @include md {
                                font-size: 13px;
                            }
                        }
                        .title{
                            font-size: 20px;
                            font-weight: 700;
                            margin-top: 15px;
                            @include md {
                                font-size: 16px;
                            }
                        }
                        .rating{
                            color: #ff7373;
                            font-size: 20px;
                            margin-top: 10px;
                            @include md {
                                font-size: 16px;
                                margin-top: 5px;
                            }
                        }
                        .price{
                            font-size: 22px;
                            font-weight: 700;
                            margin-top: 10px;
                            margin-bottom: 15px;
                            @include md {
                                font-size: 18px;
                                margin-top: 5px;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
            
        }
    }
}
