.showcase {
    background: $color-light-3;
    background: linear-gradient(90deg, $color-light-3 0%, $color-light-2 100%);
    .btn-theme {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "column1";
    }
    .column-1 {
        grid-area: column1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        .content {
            text-align: center; 
            .title-1{
                font-size: 2em;
            }
            .title-2{
                font-size: 1.2em;
            }
            .title-3{
                font-size: 0.8em;
            }
        }
    }

    .column-2 {
        grid-area: column2;
        display: none;
  
        .column-2 img {
            height: 100%;
            width: auto;
        }
    }
}

@media (min-width: 992px) {
    .showcase {
        .container {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "column1 column2";
            .column-1 {
                .content{
                    text-align: left;                                
                    .title-1{
                        font-size: 3em;
                    }
                    .title-2{
                        font-size: 2em;
                    }
                    .title-3{
                        font-size: 1.1em;
                    }
                }
            }
            .column-2 {
                display: block;
                img {
                    max-height: 550px;
                    width: auto;
                    object-fit: fit;
                }
            }
        }   
    }
}

@media (min-width: 1400px) {
    .showcase {
        .container {
            .column-1 {
                .content{
                    .title-1{
                        font-size: 4em;
                    }
                    .title-2{
                        font-size: 2.5em;
                    }
                    .title-3{
                        font-size: 1.5em;
                    }
                }
            }
            .column-2 img {
                max-height: 700px;
            }
        }
    }
}
